### Scala ###
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Program temporary
tmp

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
.bsp

# VS-Code specific
.bloop
.metals

# ENSIME specific
.ensime_cache/
.ensime
.envrc

# Mac specific
.DS_Store
